<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>设置</title>

    <style>
        .lds-ring {
            display: inline-block;
            position: relative;
            width: 60px;
            height: 60px;
        }
        .lds-ring div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 48px;
            height: 48px;
            margin: 8px;
            border: 6px solid black;
            border-radius: 50%;
            animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: black transparent transparent transparent;
        }
        .lds-ring div:nth-child(1) {
            animation-delay: -0.45s;
        }
        .lds-ring div:nth-child(2) {
            animation-delay: -0.3s;
        }
        .lds-ring div:nth-child(3) {
            animation-delay: -0.15s;
        }
        @keyframes lds-ring {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>
<body>
<noscript>Trilium需要启用JavaScript.</noscript>
<div class="container">
    <div id="setup-dialog" class="col-md-12 col-lg-8 col-xl-6 mx-auto" style="padding-top: 25px; font-size: larger; display: none;">
        <h1>Trilium Notes设置</h1>

        <div class="alert alert-warning" id="alert" style="display: none;">
        </div>

        <div id="setup-type" data-bind="visible: step() == 'setup-type'" style="margin-top: 20px;">
            <div class="radio" style="margin-bottom: 15px;">
                <label><input type="radio" name="setup-type" value="new-document" data-bind="checked: setupType">
                    我是新用户, 我想创建一个新的Trilium文档用来保存笔记</label>
            </div>
            <div class="radio" style="margin-bottom: 15px;">
                <label><input type="radio" name="setup-type" value="sync-from-desktop" data-bind="checked: setupType">
                    我已经有一个Trilium桌面应用, 我想和它同步数据</label>
            </div>
            <div class="radio" style="margin-bottom: 15px;">
                <label><input type="radio" name="setup-type" value="sync-from-server" data-bind="checked: setupType">
                    我已经有一个Trilium服务端, 我想和它同步数据</label>
            </div>

            <button type="button" data-bind="disable: !setupTypeSelected(), click: selectSetupType" class="btn btn-primary">下一个</button>
        </div>

        <div data-bind="visible: step() == 'new-document-in-progress'">
            <h2>正在进行文件初始化</h2>

            <div style="display: flex; justify-content: flex-start; margin-top: 20px;">
                <div class="lds-ring" style="margin-right: 20px;">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>

                <div style="line-height: 60px;">
                    <p>您将很快被重定向到该应用程序.</p>
                </div>
            </div>
        </div>

        <div data-bind="visible: step() == 'sync-from-desktop'">
            <h2>从桌面同步</h2>

            <p>此设置需要从桌面实例启动:</p>

            <ol>
                <li>打开你的Trilium Notes桌面客户端.</li>
                <li>在Trilium菜单中, 点击选项.</li>
                <li>单击"同步"选项卡</li>
                <li>将服务器地址更改为:<span id="current-host"></span>然后点击保存.</li>
                <li>Click "Test sync" button to verify connection is successful.</li>
                <li>完成之后, 请点击<a href="/">这里</a>.</li>
            </ol>

            <button type="button" data-bind="click: back" class="btn btn-secondary">后退</button>
        </div>

        <div data-bind="visible: step() == 'sync-from-server'">
            <h2>从服务器同步</h2>

            <p>请在下面输入Trilium服务器地址和登录信息.</p>

            <div class="form-group">
                <label for="sync-server-host">Trilium服务器地址</label>
                <input type="text" id="syncServerHost" class="form-control" data-bind="value: syncServerHost" placeholder="https://<hostname>:<port>">
            </div>
            <div class="form-group">
                <label for="sync-proxy">代理服务器(可选)</label>
                <input type="text" id="sync-proxy" class="form-control" data-bind="value: syncProxy" placeholder="https://<hostname>:<port>">

                <p><strong>备注:</strong>代理设置留空则使用系统代理(仅桌面客户端有效)</p>
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" id="password" class="form-control" data-bind="value: password" placeholder="密码">
            </div>

            <button type="button" data-bind="click: back" class="btn btn-secondary">后退</button>

            &nbsp;

            <button type="button" data-bind="click: finish" class="btn btn-primary">完成设置</button>
        </div>

        <div data-bind="visible: step() == 'sync-in-progress'">
            <h2>正在进行同步</h2>

            <div class="alert alert-success">同步已正确设置. 同步数据需要一些时间. 同步完成后会自动跳转到登录页.</div>

            <div>未完成的同步项: <strong id="outstanding-syncs">不适用</strong></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    global = globalThis; /* fixes https://github.com/webpack/webpack/issues/10035 */

    window.glob = {
        componentId: ''
    };

    window.syncInProgress = <%= syncInProgress ? 'true' : 'false' %>;
</script>

<!-- Required for correct loading of scripts in Electron -->
<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

<script src="<%= assetPath %>/libraries/jquery.min.js"></script>
<script src="<%= assetPath %>/libraries/jquery.hotkeys.js"></script>

<link href="<%= assetPath %>/libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="<%= assetPath %>/libraries/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="<%= assetPath %>/libraries/knockout.min.js"></script>

<script src="<%= appPath %>/setup.js" crossorigin type="module"></script>
<link href="<%= assetPath %>/stylesheets/theme-light.css" rel="stylesheet">
</body>
</html>
